.App {
    text-align: center;
  }

  .Ocultar{
    visibility: hidden;
  }
  
  .title{
    color:#3498DB;
    font-weight: 900;
    font-size: 3.2rem;
  }

  .buttonLogin{
    background-color: #3498DB;
    width: 25%;
  }

  .buttonLogin:hover{
    background-color: #3498DB;
  }


  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  